<h1>Welcome to the Schedule app of WEB</h1>
<p>
  <%= link_to "Semesters", semesters_path, class: "btn btn-primary" %>
  <%= link_to "Courses", courses_path, class: "btn btn-primary" %>
  <%= link_to "Instructors", instructors_path, class: "btn btn-primary" %>
</p>

<%= image_tag "schedule.avif", class: "w-100" %>